<section class="row-alt rowspread">

  <section class="lead container columnspread">
    <a>
      <h1>Covidiot</h1>
    </a>
    <p>Person who, in times of pandemic crises, unnecessarily hoards toilet paper and more food than a family of eight could possibly eat in a year, has no regard for the welfare of others by buying up absolutely everything, is a self serving nitwit, and likely hasn’t clue one about the actual disease. These people will, by and large, possess a herd mentality and inadvertently put the general population at risk by perpetuating mistruths, rumours, and conjecture. They will have likely voted for Trump at one time or another.</p>
  </section>

  <section class="lead container columnspread">
    <a>
      <img src="/covidiot.jpg" alt="idiot" width="450" height="333">
    </a>
  </section>
</section>
