<section>
  <section class="hero container">
    <img src="/covid19.png" alt="idiot" width="510" height="287">
    <h2>A Global Pandemic that is Killing the Elderly</h2>
    <p>The slow action from government and the incompetence of many homosapiens, is spreading this virus throughout the world - killing people of all ages.</p>
    <a href="social_distancing.html" class="btn btn-alt">#StayHome</a>
  </section>
  <section class="row">
    <section class="grid">

      <!-- Virus -->

      <section class="teaser col-1-3">
        <a href="virus.html">
          <h5>Virus</h5>
          <h3>COVID-19 Coronavirus</h3>
        </a>
        <p>Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.</p>
      </section><!--

      Schedule

      --><section class="teaser col-1-3">
        <a href="spread.html">
          <h5>Spread</h5>
          <h3>Airborne and Touch</h3>
        </a>
        <p>Spread through droplets when coughing or sneezing, and touching or shaking hands - then touching face.</p>
      </section><!--

      Venue

      --><section class="teaser col-1-3">
        <a href="covidiot.html">
          <h5>Covidiot</h5>
          <h3>A Selfish Idiot</h3>
        </a>
        <p>This is a person that puts others in harm due to their own incompetence. Or Donald Trump.</p>
      </section>
    </section>
  </section>
</section>
