<section class="row-alt">
  <section class="lead container">

    <img src="/yvr.jpg" alt="idiot" width="510" height="287" style="margin-bottom: 25px">

    <h1>Social Distancing</h1>
    </a>
    <p>Together, we can slow the spread of COVID-19 by making a conscious effort to keep a physical distance between each other.  Social distancing is proven to be one of the most effective ways to reduce the spread of illness during an outbreak.  With patience and cooperation, we can all do our part.</p><br />
    <h3>What does Social Distancing mean?</h3><br />
    <p align="left">This means making changes in your everyday routines in order to minimize close contact with others, including:</p>

    <ul align="left">
      <li>
        avoiding crowded places and non-essential gatherings
      </li>
      <li>
        avoiding common greetings, such as handshakes
      </li>
      <li>
        limiting contact with people at higher risk (e.g. older adults and those in poor health)
      </li>
      <li>
        keeping a distance of at least 2 arms lengths (approximately 2 metres) from others, as much as possible
      </li>
    </ul>
  </section>
</section>
