<section>

  <section class="row-alt">
    <section class="lead container">
      <img src="/covid19.png" alt="idiot" width="510" height="287">
    </section>

  <section class="rowspread">

    <section class="lead container columnspread" style="
  padding-left: 300px;">
      <a>
        <h1>Johns Hopkins</h1>
      </a>
      <a href="https://coronavirus.jhu.edu/map.html" target="_blank" class="btn-dark btn-dark-alt">View Map</a>
    </section>

    <section class="lead container columnspread" style="
  padding-right: 300px;">
      <a>
        <h1>Worldometer</h1>
      </a>
      <a href="https://www.worldometers.info/" target="_blank" class="btn-dark btn-dark-alt">View Map</a>
    </section>

  </section>

</section>
